@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #15191F;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

header div#logo {
    display: flex;
    align-content: center;
}

header div#logo img#icone {
    width: 50px;
    height: 50px;
}

header div#logo h1 {
    margin-left: 10px;
    font-size: 20px;
}

div#content {
    display: flex;
    justify-content: center;
}

div#content div#result {
    display: flex;
    align-content: center;
}

div#content img#capa {
    width: 45%;
}

div#content h2#aviso {
    font-size: 100%;
    height: 300px;
    width: 300px;
}

footer div#github {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 30px;
}

footer div#github img#git {
    display: flex;
    width: 20px;
    height: 20px;
}

footer div#github p {
    display: flex;
}

footer div#direitos {
    display: flex;
    justify-content: center;
    justify-items: center;
}

footer div#rodape p {
    font-size: 14px;
}